fastapi==0.115.8
uvicorn[standard]==0.34.0
python-multipart==0.0.9
ultralytics==8.3.111
opencv-python==4.11.0.86
python-jose[cryptography]==3.3.0
pydantic==2.10.6
pydantic-settings==2.7.1
python-dotenv==1.1.0
websockets==15.0.1
sqlalchemy==2.0.27
passlib[bcrypt]==1.7.4
email-validator==2.1.0.post1
